.Button {
    text-align: center;
    color: #3F443C;
    border: 0.5px solid black;
    height: 100%;
    width: 25%;
}

.Number {
    background-color: #FAF6EE;
}

.Symbol {
    background-color: #58756E;
    color: #FAF6EE;
}

.Clear {
    background-color: #EA4113;
    color:#FAF6EE;
}

@media (max-width: 575px) {
    .Button {
        font-size: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .Button {
        font-size: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Button {
        font-size: 4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Button {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) {
    .Button {
        font-size: 6rem;
    }
}