.Button {
    text-align: center;
    font-size: larger;
    color: white;
    border: 0.5px solid black;
    flex-grow: 1;
    width: 50px;
}

.Number {
    background-color: #555555;
}

.Symbol {
    background-color: darkred;
}