.Display {
    display: flex;
    flex: 0 0 auto;
    background-color: #122831;
    color: #FAF6EE;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 15vh;
}

.Display div {
    width: 100%;
    text-align: right;
}

@media (max-width: 575px) {
    .Display {
        font-size: 4rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .Display {
        font-size: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    .Display {
        font-size: 6rem;
    }    
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .Display {
        font-size: 7rem;
    }
}

@media (min-width: 1200px) {
    .Display {
        font-size: 8rem;
    }
}